@using AspNetSamples.Core.Dto
@model ArticleDto 

<div id="@Model.Id">
    <h3>@Model.Title</h3>
    <i>@Model.SourceName</i>
    <p>@Model.Text</p>
    <span>@Model.Rate</span>
    
    @Html.ActionLink("Details", "Details", "Article", new {id = Model.Id})
    <a asp-action="Details" asp-controller="Article" asp-route-id="@Model.Id">Details</a>
    
</div>
<a href="/article/Edit/@Model.Id"> Edit </a>
<hr>

@*
    asp-route-[parameterName]
    asp-fragment="[fragmentName]" -> address#fragmentName
*@