@model EditArticleViewModel
@{
    ViewData["Title"] = "Add article";
}

<h2>Edit Article</h2>

@using (Html.BeginForm("EditProcessing", "Article", FormMethod.Post))
{
    @Html.HiddenFor(model => model.EditModel.Id)
    <div>
        @Html.LabelFor(model => model.EditModel.Title) @* strict type html helpers *@
        @Html.EditorFor(model => model.EditModel.Title, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        @Html.LabelFor(model => model.EditModel.Description) @* strict type html helpers *@
        @Html.EditorFor(model => model.EditModel.Description, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        @Html.LabelFor(model => model.EditModel.Text) @* strict type html helpers *@
        @Html.TextAreaFor(model => model.EditModel.Text, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        @Html.LabelFor(model => model.EditModel.SourceId) @* strict type html helpers *@
        @Html.DropDownListFor(model => model.EditModel.SourceId,
        new SelectList(Model.Sources.Select(dto
        => new SelectListItem(dto.Name, dto.Id.ToString())),
        "Value", "Content"), new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
}